<div class="sidebar">
    <div class="tooltip">
        <a href="https://michirakara.github.io"><img src="/img/mcrkr.png"></a>
        <p class="tooltext">ホームに戻る</p>
    </div>

    <hr>

    <div class="tooltip">
        <a href="https://twitter.com/michirakara"><img src="/img/twttr.png"></a>
        <p class="tooltext">Twitter</p>
    </div>
    
    <div class="tooltip">
        <a href="https://www.youtube.com/channel/UCqBF4sFbNDMLwIUYbS1wkhg"><img src="/img/ytb.jpg"></a>
        <p class="tooltext">Youtube</p>
    </div>

    <div class="tooltip">
        <a href="https://mcr-pro.hatenablog.com"><img src="/img/htnblg.png"></a>
        <p class="tooltext">はてなブログ</p>
    </div>

    <div class="tooltip">
        <a href="https://atcoder.jp/users/michirakara"><img src="/img/atcdr.png"></a>
        <p class="tooltext">AtCoder</p>
    </div>
</div>


<div class="menu">
    <ul>
        <a href="/"><li><span class="bold">＃</span> ホーム</li></a>
        <a href="/cpp-library"><li><span class="bold">＃</span> ライブラリ</li></a>
        <a href="/suko-vocaloid"><li><span class="bold">＃</span> 好きなボカロ曲</li></a>
    </ul>
</div>